/* TEMPORARY STYLE FOR PIXEL PERFECT */
/* .chromeperfectpixel-overlay {
  width: 1440px !important;
  height: initial !important;
} */

@import url(./modern-normalize.css);

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  display: swap;
}

:root {
  --white-color: #ffffff;
  --main-text-color: #000000;
  --secondary-text-color: #5C5C5C;
  --blue-button-bg-default: #1B63F0;
  --blue-button-bg-hover: #3D7FFF;
  --blue-button-bg-pressed: #175EE9;
  --green-button-bg-default: #97F5CD;
  --green-button-bg-hover: #C0FFE4;
  --green-button-bg-pressed: #83EBBF;
  --arrow-play-button-hover: #64BE97;
  --arrow-play-button-pressed: #55B089;
  --arrow-box-shadow: #E2EDFB;
  --play-button-box-shadow: rgba(75, 202, 103, 0.56);
  --tour-dot-li: #FDE7E6;
  --square-bg: #FFEFEF;
  --circle-bg: #EAEDF4;
  --featered-title: #F6F2E9;
  --featured-value-day: #91A3ED;
  --featured-value-hour: #F0C41B;
  --featured-value-minutes: #FE5F60;
  --event-img-text: #BFBFBF;
  --event-img-text-bg: rgba(0, 0, 0, 0.8);
  --event-featured-bg: #FFF9F1;
  --event-text-color: #838383;
  --request-btn-bg-hover: rgba(255, 255, 255, 0.15);
  --send-button-bg-default: #64BE97;
  --send-button-bg-hover: #25DE8E;
  --send-button-bg-pressed: #4DDA9D;
  --send-button-bg-box-shadow: rgba(75, 202, 103, 0.58);
  --send-button-bg-hover-box-shadow: rgba(52, 210, 142, 0.58);
}

body {
  margin: 0 auto;
  position: relative;
  font-family: 'Montserrat', 'Verdana', 'Arial', 'Helvetica', sans-serif;
  color: var(--main-text-color);
  max-width: 1440px;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.0;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

p {
  font-size: 14px;
  line-height: 1.57;
  color: var(--secondary-text-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button,
.ready__apply-btn {
  padding: 12px 24px;
  width: 116px;
  height: 40px;
  background-color: var(--blue-button-bg-default);
  border-radius: 22px;
  border: 1px;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: var(--white-color);
}

button:hover {
  background: var(--blue-button-bg-hover);
}

button:active {
  background: var(--blue-button-bg-pressed);
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

.bg-icons {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 746px;
  z-index: -2;
}

.bg-green {
  position: relative;
}

.bg-green-top,
.bg-green-bottom {
  position: absolute;
  top: 0;
  right: 0px;
}

.bg-green-top {
  z-index: 2;
  max-width: 740px;
}

.bg-green-bottom {
  max-width: 778px;
}

.header {
  z-index: 4;
  padding-top: 44px;
  margin: 0 auto;
  max-width: 850px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__union-logo {
  z-index: 4;
  cursor: pointer;
  fill: var(--blue-button-bg-default);
}

.header__union-logo:hover {
  fill: var(--main-text-color);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  z-index: 4;
  justify-content: space-between;
}

.header__nav button {
  width: 96px;
  z-index: 4;
}

.header__elem a {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: var(--white-color);
}

.header__elem a:hover {
  color: var(--blue-button-bg-default);
}

.header__elem {
  margin-right: 20px;
}

.header__elem:last-child {
  margin-right: 40px;
}

.top-section {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
}

.top-section article {
  display: flex;
  flex-direction: column;
}

.top-section h1 {
  z-index: 4;
  margin-top: 155px;
  margin-bottom: 20px;
}

.top-section p {
  z-index: 4;
  margin-bottom: 40px;
}

.top-section img,
.top-section svg {
  z-index: 3;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  margin-top: 21px;
  margin-right: -104px;
}

.top-section__buttons {
  display: flex;
  align-items: baseline;
}

.top-section__buttons a {
  margin-left: 24px;
  padding: 12px 24px;
  width: 119px;
  height: 40px;
  background: var(--green-button-bg-default);
  border-radius: 22px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text-color);
}

.top-section__buttons a:hover,
.ready__apply-btn:hover {
  background: var(--green-button-bg-hover);
}

.top-section__buttons a:active,
.ready__apply-btn:active {
  background: var(--green-button-bg-active);
}

.top-section__links {
  display: flex;
  align-items: center;
  padding-top: 77px;
}

.top-section__links img {
  margin-right: 0px;
}

.choose {
  max-width: 850px;
  margin: 0 auto;
  padding-top: 64px;
  display: flex;
  justify-content: space-between
}

.choose__left svg {
  width: 56px;
  height: 56px;
}

.choose__left h2 {
  padding-bottom: 33px;
}

.choose__left h2::after,
.tour article h2::after,
.prefer h2::after,
.customers__feedback h2::after,
.blog h2::after,
.choose-two article h2::after {
  content: "";
  display: inline-block;
  border-bottom: 2px solid var(--blue-button-bg-default);
  width: 60px;
  margin-left: 25px;
}

.choose__left--line1 {
  display: flex;
  justify-content: space-between;
}

.choose__left--line1 article {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.choose__left--line1 h3,
.choose__left--line2 h3 {
  color: var(--main-text-color);
  margin-top: 17px;
  margin-bottom: 0;
}

.choose__left--line1 p,
.choose__left--line2 p {
  margin-top: 6px;
}

.choose__left--line1Article2 {
  margin-right: 36px;
}

.choose__left--line2 {
  display: flex;
  justify-content: space-around;
  margin-top: -18px;
}

.choose__left--line2 article {
  display: flex;
  flex-direction: column;
}

.choose__left--line2Article1 {
  margin-right: 20px;
}

.choose__left--line2Article2 {
  margin-left: 9px;
}

.courses {
  margin: 0 auto;
  width: 850px;
  text-align: center;
  margin-top: 76px;
}

.courses span,
.tour span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.0;
  color: var(--blue-button-bg-default);
}

.courses h2 {
  margin-top: 11px;
}

.courses__slider {
  width: 870px;
  margin-top: 82px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

.slider__img {
  position: relative;
}

.slider__img_inner {
  position: absolute;
  top: -23px;
  left: 0px;
  color: var(--white-color);
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.slider__img_inner h3 {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.0;
  margin-bottom: 9px;
}

.slider__img_inner p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  margin-top: 0;
}

.slider__img_inner hr {
  position: absolute;
  top: 317px;
  left: 0px;
  width: 270px;
  background: var(--white-color);
  opacity: 0.3;
}

.slider__img_small {
  padding-bottom: 206px;
  width: 48px;
}

.slider__img_price {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
  padding-right: 28px;
}

.slider__img_price svg {
  width: 12px;
  height: 10px;
}

.star-white {
  --color19: var(--white-color);
}

.slider__img_price div {
  display: flex;
  align-items: baseline;
}

.slider__img_price ul {
  display: flex;
  align-items: baseline;
  margin-left: 25px;
  font-size: 12px;
  line-height: 1.33;
  color: var(--white-color);
}

.slider__img_price p {
  padding-left: 2px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: var(--white-color);
}

.slider__img_price-crossed {
  text-decoration-line: line-through;
  margin-top: 0;
  margin-left: 11px;
}

.slider__img_price span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: var(--white-color);
}

.slider__arrow {
  width: 40px;
  height: 40px;
  margin-bottom: 18px;
  cursor: pointer;
  box-shadow: 0px 4px 16px var(--arrow-box-shadow);
  border-radius: 20px;
}

.slider__arrow:hover {
  --color13: var(--white-color);
  --color5: var(--arrow-play-button-hover);
}

.slider__arrow:active {
  --color13: var(--white-color);
  --color5: var(--arrow-play-button-pressed);
}

.tour {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin-top: 61px;
}

.tour__left {
  position: relative;
}

.tour__left_img {
  margin-bottom: 1px;
}

.tour__left_play {
  position: absolute;
  top: 218px;
  left: 470px;
  width: 72px;
  height: 72px;
}

.tour__left_play use {
  display: block;
  cursor: pointer;
  box-shadow: 0px 4px 16px var(--play-button-box-shadow);
}

.tour__left_play use:hover {
  --color6: var(--arrow-play-button-hover);
}

.tour__left_play use:active {
  --color13: var(--arrow-play-button-pressed);
  --color6: var(--arrow-play-button-pressed);
}

.tour__dot li::before {
  position: absolute;
  top: 7px;
  left: 8px;
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: var(--tour-dot-li);
  margin-right: 20px;
}

.tour__dot li:nth-child(2)::before {
  top: 19px;
}

.tour__dot li {
  position: relative;
  padding-left: 36px;
}

.tour article {
  display: flex;
  flex-direction: column;
  margin-left: 116px;
  margin-bottom: 13px;
  position: relative;
}

.tour article h2 {
  margin: 0;
  padding: 0;
}

.tour article p {
  margin: 0;
  padding: 0;
}

.tour article ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.57;
  color: var(--secondary-text-color);
}

.tour article h2 {
  line-height: 1.38;
  padding-top: 6px;
}

.tour article :nth-child(3) {
  padding-top: 24px;
}

.tour article :nth-child(4) {
  padding-top: 12px;
}

.tour article :nth-child(5) {
  padding-top: 12px;
}

.tour article ul :nth-child(2) {
  padding-top: 12px;
}

.tour__button {
  width: 108px;
  padding: 12px 20px;
  margin-top: 24px;
}

.tour__circle {
  position: absolute;
  top: 356px;
  left: 373px;
  background: var(--circle-bg);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.tour__square {
  position: absolute;
  top: 182px;
  left: 504px;
  width: 40px;
  height: 40px;
  background: var(--square-bg);
  border-radius: 8px;
}

.choose-two {
  max-width: 1440px;
  margin-top: 95px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.choose-two article {
  display: flex;
  flex-direction: column;
}

.event::after {
  content: "";
  display: inline-block;
  border-bottom: 1px solid var(--secondary-text-color);
  width: 502px;
  opacity: 0.1;
  margin-top: 26px;
  margin-bottom: 18px;
}

.event__details {
  display: flex;
  gap: 24px;
}

.event__details div {
  display: flex;
}

.event p {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  color: var(--event-text-color);
}

.choose-two aside {
  width: 623px;
  height: 680px;
  margin-left: 107px;
  padding-left: 87px;
  background: var(--event-featured-bg);
}

.featured__img {
  position: relative;
  margin-top: 40px;
}

.featured__innerText {
  position: absolute;
  top: 224px;
  left: 24px;
  padding: 24px 8px 40px;
  gap: 10px;
  width: 280px;
  height: 156px;
  background: var(--event-img-text-bg);
}

.featured__innerText h3 {
  text-align: center;
  color: var(--white-color);
  margin-top: 0;
}

.event__details-img {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: space-around;
}

.event__details-img p {
  padding-left: 8px;
  color: var(--event-img-text);
  margin: 0;
}

.event__details-img div {
  display: flex;
}

.choose-two aside h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.4em;
  margin-left: -71px;
  color: var(--featered-title);
  margin-top: 60px;
  margin-bottom: 0;
}

.featured__values {
  display: flex;
  gap: 45px;
  margin-top: 27px;
}

.featured__values p {
  margin: 0;
}

.featured__values p:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--featured-value-day);
}

.featured__values p:nth-child(2) {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--featured-value-hour);
}

.featured__values p:nth-child(3) {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--featured-value-minutes);
}

.featured__values span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--secondary-text-color);
  padding-left: 6px;
}

.choose-two aside button {
  width: 158px;
  padding: 12px 20px;
  margin-top: 51px;
}

.prefer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 62px;
}

.prefer h2 {
  margin-bottom: 9px;
}

.prefer__slider {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-top: 37px;
}

.prefer__slider_slide {
  width: 197.5px;
  height: 197px;
  position: relative;
}

.prefer__slider_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background: linear-gradient(0deg, rgba(254, 95, 96, 0.8), rgba(254, 95, 96, 0.8)), url(/assets/images/111.png); */
  box-shadow: 0px 7px 20px var(--arrow-box-shadow);
  border-radius: 4px;
}

.prefer__slider_text {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  white-space: nowrap;
}

.customers {
  max-width: 1440px;
  position: relative;
}

.customers__background-top {
  position: absolute;
  top: 105px;
  left: 25px;
  z-index: -1;
  width: 516px;
  height: 525px;
}

.customers__background-behind {
  z-index: -2;
  position: absolute;
  top: 76px;
  left: -4px;
  width: 796px;
  height: 597px;
}

.customers__container {
  display: flex;
  justify-content: flex-start;
  padding-top: 180px;
  padding-left: 207px;
}

.customers__feedback {
  padding-left: 111px;
}

.customers__feedback h2 {
  margin-top: 5px;
}

.customers__feedback svg {
  margin-top: 31px;
}

.customers__feedback :nth-child(3) {
  margin-top: 29px;
  margin-bottom: 0;
}

.customers__feedback :nth-child(4) {
  margin-top: 11px;
}

.customers__feedback :nth-child(5) {
  margin-top: 16px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text-color);
}

.ready {
  position: relative;
  margin-top: 160px;
  max-width: 1440px;
  height: 406px;
}

.ready img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ready__container {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
}

.ready__container aside {
  padding-left: 211px;
  padding-top: 72px;
}

.ready__container article p:nth-child(1) {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: var(--white-color);
  padding-top: 52px;
  margin-bottom: 0;
}

.ready__container article h2:nth-child(2) {
  color: var(--arrow-play-button-hover);
  line-height: 1.38;
  margin-top: 9px;
}

.ready__container article p:nth-child(3) {
  color: var(--white-color);
  margin-top: 24px;
}

.ready__container article p:nth-child(4) {
  color: var(--white-color);
  margin-top: 1px;
}

.ready__container aside div {
  display: flex;
  align-items: center;
}

.ready__container aside div p {
  margin-left: 13px;
  margin-top: 0;
}

.ready__container aside div h2 {
  margin-left: 8px;
}

.ready__apply-btn {
  width: 109px;
  background: var(--arrow-play-button-hover);
  padding: 12px 20px;
  cursor: pointer;
}

.ready__request-btn {
  padding: 12px 20px;
  width: 142px;
  background: none;
  border: 1px solid var(--white-color);
  border-radius: 22px;
  font-size: 12px;
  line-height: 1.33;
  color: var(--white-color);
  white-space: nowrap;
}

.ready__request-btn:hover {
  background: var(--request-btn-bg-hover);
}

.ready__request-btn:active {
  border: 2px solid var(--white-color);
  padding: 11px 20px;
}

.send-btn {
  width: 120px;
  background: var(--send-button-bg-default);
  box-shadow: 0px 4px 16px var(--send-button-bg-box-shadow);
}

.send-btn:hover {
  background: var(--send-button-bg-hover);
  box-shadow: 0px 10px 16px 4px var(--send-button-bg-hover-box-shadow);
}

.send-btn:active {
  background: var(--send-button-bg-pressed);
  box-shadow: 0px 4px 16px var(--send-button-bg-box-shadow);
}