@import url(./modern-normalize.css);

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  display: swap;
}

:root {
  --header_bg: #00000033;
  --white-color: #ffffff;
  --main-text-color: #000000;
  --secondary-text-color: #5C5C5C;
  --blue-button-bg-default: #1B63F0;
  --blue-button-bg-hover: #3D7FFF;
  --blue-button-bg-active: #175EE9;
  --green-button-bg-default: #97F5CD;
  --green-button-bg-hover: #C0FFE4;
  --green-button-bg-active: #83EBBF;
  --arrow-play-button-hover: #64BE97;
  --arrow-play-button-active: #55B089;
  --arrow-box-shadow: #E2EDFB;
  --play-button-box-shadow: rgba(75, 202, 103, 0.56);
  --description-dot-li: #FDE7E6;
  --square-bg: #FFEFEF;
  --circle-bg: #EAEDF4;
  --featered-title: #F6F2E9;
  --featured-value-day: #91A3ED;
  --featured-value-hour: #F0C41B;
  --featured-value-minutes: #FE5F60;
  --prefer-slide-1-bg: rgba(101, 131, 255, 0.8);
  --prefer-slide-2-bg: rgba(240, 199, 45, 0.8);
  --prefer-slide-3-bg: rgba(148, 87, 243, 0.8);
  --prefer-slide-4-bg: rgba(254, 95, 96, 0.8);
  --customer-dot-bg: #BAD1FF;
  --customer-dot-bg-active: #1B63F0;
  --customers-img-bg-color: #637AF2;
  --ready-bg-color: rgba(69, 82, 156, 0.95);
  --event-img-text: #BFBFBF;
  --event-img-text-bg: rgba(0, 0, 0, 0.8);
  --event-featured-bg: #FFF9F1;
  --event-text-color: #838383;
  --ready-bg-color: rgba(69, 82, 156, 0.95);
  --request-btn-bg-hover: rgba(255, 255, 255, 0.15);
  --registration-input-bg: #F3F6FC;
  --registration-input-box-shadow: rgba(0, 0, 0, 0.25);
  --send-button-bg-default: #64BE97;
  --send-button-bg-hover: #25DE8E;
  --send-button-bg-active: #4DDA9D;
  --send-button-bg-box-shadow: rgba(75, 202, 103, 0.58);
  --send-button-bg-hover-box-shadow: rgba(52, 210, 142, 0.58);
  --blog-side-text-color: #5D74E4;
  --blog-slider-item-bg: #D6FAE7;
  --burger-line-color: rgba(61, 126, 255, 0.200);
  --form-alert-text: #F15B5B;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  position: relative;
  font-family: 'Montserrat', 'Verdana', 'Arial', 'Helvetica', sans-serif;
  color: var(--main-text-color);
  max-width: 1440px;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
}

h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--secondary-text-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  padding: 12px 24px;
  width: 116px;
  height: 40px;
  border-radius: 22px;
  border: 1px;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: var(--white-color);
}

.blue-btn {
  background-color: var(--blue-button-bg-default);
}

.blue-btn:hover {
  background: var(--blue-button-bg-hover);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blue-btn:active {
  background: var(--blue-button-bg-active);
}

.green-btn {
  background: var(--green-button-bg-default);
  color: var(--main-text-color);
}

.green-btn:hover {
  background: var(--green-button-bg-hover);
}

.green-btn:active {
  background: var(--green-button-bg-active);
}

.container {
  margin: 0 auto;
  max-width: 1024px
}

.bg-icons {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 746px;
  z-index: -2;
}

.bg-green {
  z-index: -5;
  position: relative;
}

.bg-green-top,
.bg-green-bottom {
  position: absolute;
  top: 0;
  right: 0px;
}

.bg-green-top {
  z-index: 1;
  max-width: 740px;
}

.bg-green-bottom {
  max-width: 778px;
}

.header {
  z-index: 4;
  padding: 44px 87px 0px 87px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icons {
  z-index: 6;
}

.main-logo-icon {
  z-index: 4;
  cursor: pointer;
  fill: var(--blue-button-bg-default);
}

.main-logo-icon:hover {
  fill: var(--main-text-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__menu {
  transform: translate(-150%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  height: 100%;
  background-color: var(--white-color);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__menu_active {
  transform: translate(0%)
}

.mobile__menu-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 12px 24px 0 24px;
}

.burger__icons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 5px 0 0;
}

.burger__icon {
  display: none;
}

.burger__icon-cross {
  cursor: pointer;
}

.burger__menu {
  margin-top: 82px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu__elem-item {
  font-weight: 700;
  font-size: 26px;
  padding: 30px 86% 30px 0%;
  line-height: 1.38;
  color: var(--main-text-color);
}

.burger-line {
  border-bottom: 1px solid var(--burger-line-color);
  padding-bottom: 32px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  z-index: 4;
  justify-content: space-between;
}

.menu__elem-item:hover {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--blue-button-bg-default);
}

.header__nav-button {
  width: 96px;
  z-index: 4;
}

.header__elem-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: var(--white-color);
}

.header__elem-link:hover {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--blue-button-bg-default);
}

.header__elem {
  margin-right: 20px;
}

.header__elem:last-child {
  margin-right: 40px;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

.sticky {
  max-width: 1440px;
  background: var(--header_bg);
  position: sticky;
  top: 0px;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-section {
  max-width: 1060px;
  padding: 0px 0px 0px 105px;
}

.top-section__wrapper {
  display: flex;
  justify-content: space-between;
}

.top-section__article {
  display: flex;
  flex-direction: column;
}

.top-section__title {
  z-index: 4;
  margin-top: 155px;
}

.top-section__text {
  z-index: 4;
  margin-top: 34px;
}

.link-img {
  z-index: 3;
  margin-top: 21px;
}

.coding-girl-img {
  z-index: 3;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  margin-top: 21px;
}

.top-section__buttons {
  z-index: 4;
  display: flex;
  align-items: baseline;
  margin-top: 39px;
}

.get-started-btn {
  margin-left: 24px;
  width: 119px;
}

.top-section__buttons a:hover,
.ready__apply-btn:hover {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--green-button-bg-hover);
}

.top-section__buttons a:active,
.ready__apply-btn:active {
  background: var(--green-button-bg-active);
}

.top-section__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.advantages {
  margin-top: 78px;
  max-width: 850px;
}

.advantages__icon {
  width: 56px;
  height: 56px;
}

.blue-line::after {
  content: "";
  display: inline-block;
  border-bottom: 2px solid var(--blue-button-bg-default);
  width: 60px;
  margin-left: 25px;
}

.advantages__first-line {
  display: flex;
  gap: 46px;
  margin-top: 56px;
}

.advantages__second-line {
  display: flex;
  margin-top: 38px;
  gap: 31px;
}

.advantages__title {
  color: var(--main-text-color);
  margin-top: 13px;
}

.advantages__text {
  margin-top: 6px;
}

.courses {
  margin-top: 134px;
  position: relative;
  text-align: center;
}

.courses__bg-icons {
  position: absolute;
  top: 123px;
  left: 15px;
  z-index: -1;
  width: 746px;
  height: 579px;
}

.pretitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.0;
  color: var(--blue-button-bg-default);
}

.courses__title {
  margin-top: 6px;
}

.courses__slider {
  margin: 55px auto 0px auto;
  width: 1023px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

/* SLICK SLIDER START */

div .slick-slider {
  position: static;
  max-width: 85%;
}

div .slick-list {
  max-width: 853px;
  margin: 0 auto;
}

.slick-track {
  padding-top: 24px;
}

.slick-arrow {
  display: inline-flex;
  align-items: center;
  border: 0px;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0px 4px 16px var(--arrow-box-shadow);
  border-radius: 20px;
  font-size: 0;
}

.slick-arrow.slick-prev {
  position: absolute;
  top: 183px;
  left: -6px;
  background: url('../assets/images/slick-left-arrow.svg') center/21% no-repeat;
}

.slick-arrow.slick-next {
  position: absolute;
  top: 183px;
  right: 0px;
  z-index: 20;
  background: url('../assets/images/slick-right-arrow.svg') center/21% no-repeat;
}

.slick-disabled {
  opacity: 0.2;
  pointer-events: none;
}

/* SLICK SLIDER END */

.slider__arrow-btn {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  border: 0px;
  padding: 0;
  background-color: var(--white-color);
}

.slider__slides {
  padding-top: 24px;
  overflow-y: hidden;
}

.slider__item {
  height: 364px;
  position: relative;
}

.slider__img-inner {
  position: absolute;
  top: -23px;
  left: 0px;
  color: var(--white-color);
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.slider__img-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.0;
  margin-bottom: 9px;
  margin-top: 10px;
}

.slider__sub-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  margin-top: 0;
}

.slider__img-inner hr {
  position: absolute;
  top: 317px;
  left: 0px;
  width: 270px;
  background: var(--white-color);
  opacity: 0.3;
}

.slider__img_small {
  padding-bottom: 206px;
  width: 48px;
}

.slider__img-price {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 33px;
  padding-right: 28px;
}

.slider__img-price svg {
  width: 12px;
  height: 10px;
}

.star-white {
  --color19: var(--white-color);
}

.slider__img-price div {
  display: flex;
  align-items: baseline;
}

.slider__img-rating {
  display: flex;
  align-items: baseline;
  margin-left: 25px;
  font-size: 12px;
  line-height: 1.33;
  color: var(--white-color);
}

.slider__img-price p {
  padding-left: 2px;
  font-size: 12px;
  line-height: 1.3;
  color: var(--white-color);
}

.slider__img-price-crossed {
  text-decoration-line: line-through;
  margin-top: 0;
  margin-left: 11px;
}

.slider__img-price span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  color: var(--white-color);
}

.slider__arrow {
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0px 4px 16px var(--arrow-box-shadow);
  border-radius: 20px;
}

.slider__arrow:hover {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --color13: var(--white-color);
  --color5: var(--arrow-play-button-hover);
}

.slider__arrow:active {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --color13: var(--white-color);
  --color5: var(--arrow-play-button-active);
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1220px;
  margin-top: 65px;
  position: relative;
}

.description_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 95vw;
  max-width: 1440px;
  height: 520px;
  background: linear-gradient(235.25deg, #FFFFFF 41.4%, #FAFBFF 60.76%);
}

.description__left {
  position: relative;
}

.description__left-img {
  width: 50vw;
  max-width: 700px;
  margin-bottom: 1px;
}

.description__play {
  position: absolute;
  top: 40%;
  left: 65%;
  width: 14%;
  height: 14%;
}

.description__play-btn {
  display: block;
  cursor: pointer;
  box-shadow: 0px 4px 16px var(--play-button-box-shadow);
}

.description__play-btn:hover {
  --color6: var(--arrow-play-button-hover);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description__play-btn:active {
  --color13: var(--arrow-play-button-active);
  --color6: var(--arrow-play-button-active);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description__dot-item::before {
  position: absolute;
  top: 7px;
  left: -30px;
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: var(--description-dot-li);
}

.description__dot-item {
  margin-top: 12px;
  position: relative;
}

.description__article {
  display: flex;
  flex-direction: column;
  margin-bottom: 33px;
  position: relative;
}

.description__title {
  line-height: 1.38;
  margin-top: 6px;
}

.description__text-first {
  margin: 24px 0px 0px 0px;
}

.description__text-second {
  margin: 12px 0px 0px 0px;
}

.description__dot {
  margin: 0px 0px 0px 36px;
  font-size: 14px;
  line-height: 1.57;
  color: var(--secondary-text-color);
}

.description__dot :nth-child(2) {
  margin-top: 12px;
}

.description__button {
  width: 108px;
  padding: 12px 20px;
  margin-top: 24px;
}

.description__circle {
  position: absolute;
  top: 356px;
  left: 373px;
  background: var(--circle-bg);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.description__square {
  position: absolute;
  top: 182px;
  left: 504px;
  width: 40px;
  height: 40px;
  background: var(--square-bg);
  border-radius: 8px;
}

.events {
  max-width: 1440px;
  margin-left: 208px;
  margin-top: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events__article {
  display: flex;
  flex-direction: column;
}

.events__list {
  margin-top: 32px;
}

.events__elem::after {
  content: "";
  display: inline-block;
  border-bottom: 1px solid var(--secondary-text-color);
  width: 100%;
  opacity: 0.1;
  margin-top: 26px;
  margin-bottom: 18px;
}

.events__elem-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 16px;
}

.events__elem-item {
  display: flex;
}

.events__elem-text {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  color: var(--event-text-color);
}

.events__aside {
  width: 100%;
  max-width: 623px;
  height: 680px;
  padding-left: 87px;
  background: var(--event-featured-bg);
}

.events__aside-title {
  font-size: 60px;
  line-height: 1.21;
  letter-spacing: 0.4em;
  margin-left: -71px;
  color: var(--featered-title);
  margin-top: 60px;
}

.events__aside-img {
  position: relative;
  margin-top: 40px;
}

.events__aside-inner {
  position: absolute;
  top: 224px;
  left: 24px;
  padding: 24px 8px 40px;
  width: 280px;
  height: 156px;
  background: var(--event-img-text-bg);
}

.events__aside-subtitle {
  text-align: center;
  color: var(--white-color);
  margin-top: 0;
}

.events__aside-details {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin-top: 17px;
  justify-content: space-around;
}

.aside__elem-text {
  padding-left: 8px;
  color: var(--event-img-text);
}

.events__aside-details div {
  display: flex;
}

.events__aside-values {
  display: flex;
  gap: 45px;
  margin-top: 27px;
}

.events__aside-values p {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}

.events__aside-values p:nth-child(1) {
  color: var(--featured-value-day);
}

.events__aside-values p:nth-child(2) {
  color: var(--featured-value-hour);
}

.events__aside-values p:nth-child(3) {
  color: var(--featured-value-minutes);
}

.events__aside-values span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--secondary-text-color);
  padding-left: 6px;
}

.sponsor-btn {
  width: 158px;
  padding: 12px 20px;
  margin-top: 51px;
}

/* SECTION PREFER  */

.prefer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 81px;
}

.prefer__text {
  margin-top: 16px;
}

/* PAGINATOR */

.select {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: var(--secondary-text-color);
  margin: 0 auto;
  position: relative;
}

.select.is-active .select__list {
  transform: translate(0%);
}

.select__input {
  width: 200px;
  height: 48px;
  display: flex;
  background: var(--registration-input-bg);
  border-radius: 22px;
  cursor: pointer;
}

.input__value {
  display: block;
  width: 200px;
  height: 48px;
  padding: 6px 12px;
  background: var(--registration-input-bg);
  border: 1px solid var(--registration-input-bg);
  border-radius: 22px;
  cursor: pointer;
  caret-color: rgba(0, 0, 0, 0)
}

.input__value:focus {
  outline: none;
  border: 1px solid var(--customer-dot-bg-active);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__icon {
  position: absolute;
  right: 10px;
  top: 20px;
}

.select__list {
  width: 200px;
  height: 118px;
  margin-top: 8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: var(--white-color);
  box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.1);
  border-radius: 22px;
  z-index: 2;
  border-top: 0;
  transform: rotateY(90deg);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.select__item {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  text-align: left;
}

.select__item:hover {
  background: var(--registration-input-bg);
  color: var(--customer-dot-bg-active);
  border-radius: 11px;
}

/* PAGINATOR END */

.prefer__slider {
  max-width: 990px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 51px auto 0 auto;
}

.prefer__slides-wrapper {
  overflow: hidden;
}

.prefer__slides-inner {
  display: flex;
  gap: 20px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider__arrow-btn:disabled {
  background-color: var(--event-img-text);
  color: var(--secondary-text-color);
  opacity: 0.2;
  pointer-events: none;
}

.prefer-br {
  display: none;
}

.prefer__slider-slide {
  width: 197.5px;
  height: 197px;
  position: relative;
  flex-shrink: 0;
}

.bg-position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.slide-1-bg {
  background: var(--prefer-slide-1-bg);
}

.slide-2-bg {
  background: var(--prefer-slide-2-bg);
}

.slide-3-bg {
  background: var(--prefer-slide-3-bg)
}

.slide-4-bg {
  background: var(--prefer-slide-4-bg);
}

.prefer__slider-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 7px 20px var(--arrow-box-shadow);
  border-radius: 4px;
}

.prefer__slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  white-space: nowrap;
}

/* CUSTOMERS SECTION */

.customers {
  max-width: 1440px;
  position: relative;
}

.brake-text-375 {
  display: none;
}

.customers__background-top {
  position: absolute;
  top: 105px;
  left: 25px;
  z-index: -1;
  max-width: 516px;
  max-height: 525px;
}

.customers__background-behind {
  z-index: -2;
  position: absolute;
  top: 76px;
  left: -4px;
  max-width: 796px;
  max-height: 597px;
}

.customers__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 180px 103px 0px 0px;
}

.customers__img-block {
  position: relative;
  width: 412px;
  height: 402px;
}

.customers__img-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 344px;
  height: 344px;
  background: var(--customers-img-bg-color);
  border-radius: 24px;
}

.customers__img {
  position: absolute;
  left: 68px;
  top: 58px;
  width: 344px;
  height: 344px;
  border-radius: 24px;
}

.customers__feedback {
  height: 301px;
  width: 398px;
}

.customers__feedback-icon {
  margin-top: 48px;
}

.customers__text-first {
  margin-top: 29px;
}

.customers__text-second {
  margin-top: 11px;
}

.customers__text-author {
  margin-top: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text-color);
}

.customer__dots {
  margin-top: 58px;
  display: flex;
  gap: 5px;
}

.customer__dot {
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  background: var(--customer-dot-bg);
}

.customer__dot_active {
  margin: 0;
  padding: 0;
  background: var(--customer-dot-bg-active);
}

/* SECTION READY */

.ready {
  position: relative;
  margin-top: 160px;
  max-width: 1440px;
  height: 406px;
  background: var(--ready-bg-color);
  display: flex;
}

.ready img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ready__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ready__links {
  width: 100%;
  max-width: 415px;
}

.ready__pretitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: var(--white-color);
}

.ready__title {
  color: var(--arrow-play-button-hover);
  margin-top: 8px;
}

.ready__text-first {
  color: var(--white-color);
  margin-top: 24px;
}

.ready__text-second {
  color: var(--white-color);
  margin-top: 12px;
}

.ready__links-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ready__links-title {
  color: var(--white-color);
  margin-left: 8px;
}

.ready__links-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 25px;
  cursor: pointer;
}

.ready__links-text {
  margin-left: 15px;
  color: var(--white-color);
}

.ready__links-item::after {
  content: '';
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--white-color);
  opacity: 0.2;
}

.ready__buttons {
  padding-top: 30px;
}

.ready__apply-btn {
  width: 109px;
  padding: 12px 20px;
}

.ready__request-btn {
  padding: 12px 20px;
  width: 142px;
  margin-left: 20px;
  background: none;
  border: 1px solid var(--white-color);
  white-space: nowrap;
}

.ready__request-btn:hover {
  background: var(--request-btn-bg-hover);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ready__request-btn:active {
  border: 2px solid var(--white-color);
  padding: 11px 20px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* BLOG SECTION */

.blog {
  padding: 100px 24px 0px 24px;
  max-width: 1073px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

.blog__slider-item {
  position: relative;
  width: 415px;
  height: 288px;
  opacity: 100%;
  transition: opacity 100ms ease-in;
}

.opacity {
  opacity: 0%;
}

.display-none {
  display: none;
}

.blog__slider-item-bg {
  z-index: -1;
  position: absolute;
  width: 415px;
  height: 264px;
  left: 0px;
  top: 24px;
  border-radius: 16px 16px 0px 16px;
  background-color: var(--blog-slider-item-bg);
}

.blog__slider-item-img {
  margin-left: 87px;
  width: 328px;
  height: 160px;
}

.blog__slider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 48px;
}

.blog__slider-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.blog__item-side-text,
.blog__item_link {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: var(--blog-side-text-color);
  margin: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.blog__item_link {
  writing-mode: horizontal-tb;
  color: var(--main-text-color);
  position: absolute;
  left: 86px;
  top: 248px;
}

.blog__item-side-text {
  position: absolute;
  top: 43px;
  left: 31px;
}

.blog__slider-title {
  position: absolute;
  top: 184px;
  left: 15px;
  display: flex;
  gap: 24px;
  max-width: 383px;
  height: 48px;
  align-items: center;
}

.blog__slider-scroll {
  display: flex;
  flex-direction: column;
  height: 290px;
  overflow-y: hidden;
  overflow-x: hidden;
  gap: 22px;
  padding-left: 87px;
}

.blog__slider-scroll-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blog__slider-btn {
  color: var(--blog-side-text-color);
  border: 1px solid var(--white-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.0;
  width: 40px;
  height: 40px;
  padding: 13px;
  text-align: center;
  background: var(--white-color);
  border-radius: 20px;
  cursor: pointer;
}

.blog__slider-btn:disabled {
  background-color: var(--event-img-text);
  color: var(--secondary-text-color);
}

.blog__slider-btn:hover {
  box-shadow: 0px 4px 16px var(--arrow-box-shadow);
}

.blog__slider-btn_active {
  border: 1px solid var(--arrow-play-button-hover);
}

.registration-container {
  margin-top: 78px;
}

.registration-container form {
  margin: 0 auto;
  max-width: 450px;
}

.form__input {
  display: block;
  width: 420px;
  height: 44px;
  padding: 0px 10px 4px 10px;
  margin: 0px auto 16px auto;
  background: var(--registration-input-bg);
  border-radius: 22px;
  border: 2px solid var(--registration-input-bg);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.form__input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
}

.form__input:focus {
  outline: none;
  border: 2px solid var(--blue-button-bg-default);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.alert {
  display: block;
  width: 420px;
  height: 44px;
  padding: 0px 10px 4px 10px;
  margin: 0px auto 0px auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  width: 408px;
  height: 16px;
  color: var(--form-alert-text);
}

.send-btn {
  width: 120px;
  height: 44px;
  display: block;
  margin: 32px auto 0 auto;
  background: var(--arrow-play-button-hover);
  box-shadow: 0px 4px 16px var(--send-button-bg-box-shadow);
}

.send-btn:hover {
  background: var(--send-button-bg-hover);
  box-shadow: 0px 10px 16px 4px var(--send-button-bg-hover-box-shadow);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:active {
  background: var(--send-button-bg-active);
  box-shadow: 0px 4px 16px var(--send-button-bg-box-shadow);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  position: relative;
  overflow: hidden;
}

.footer-bg-left {
  z-index: -1;
  position: absolute;
  top: 3px;
  left: -47px;
  width: 746px;
  height: 588px;
}

.footer-bg-right {
  z-index: -1;
  position: absolute;
  top: 3px;
  left: 740px;
  width: 746px;
  height: 588px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  flex-wrap: wrap;
  margin: 81px auto 0px auto;
}

.footer__top div {
  width: 154px;
}

.footer__links-title {
  font-weight: 700;
}

.footer__links,
.footer__social {
  margin-top: 24px;
}

.footer__social {
  display: flex;
  gap: 16px;
}

.footer__link-text {
  margin-bottom: 12px;
}

.footer__link {
  font-size: 14px;
  line-height: 1.57;
  color: var(--secondary-text-color);
}

.footer__link:hover {
  color: var(--green-button-bg-default);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__bottom-hr {
  background: var(--secondary-text-color);
  opacity: 0.1;
  margin-top: 68px;
}

.footer__bottom-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 40px;
}

.social-media:hover {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --hover-color: var(--green-button-bg-default);
}

.links-list {
  display: flex;
  gap: 20px;
}

.links-title,
.footer__bottom-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.links-title {
  cursor: auto;
}

.footer__bottom-link:hover {
  color: var(--blue-button-bg-default);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media(max-width:1440px) {
  .courses {
    overflow: hidden;
  }

  .courses__slider {
    max-width: 94%;
  }

  .description__square {
    display: none;
  }

  .description__circle {
    display: none;
  }

  .events {
    margin: 83px 24px 0px 24px;
  }

  .blog__slider-scroll {
    padding-left: 0px;
    width: 60px;
  }

  .customers__container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media(max-width:769px) {
  .header__list {
    display: none;
  }

  .header__icons {
    display: flex;
    gap: 12px;
  }

  .burger__icon {
    display: block;
    z-index: 3;
    width: 28px;
    height: 24px;
    cursor: pointer;
  }

  .burger__menu {
    z-index: 3;
  }

  .header {
    padding: 43px 24px 0 24px;
  }

  .sticky {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .top-section {
    padding: 0 24px;
    overflow: hidden;
  }

  .top-section__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .top-section article {
    align-items: center;
  }

  .top-section h1 {
    margin-top: 0;
  }

  .top-section p br,
  .top-section h1 br {
    display: none;
  }

  .advantages {
    margin: 0px 24px;
    margin-top: 82px;
  }

  .description {
    flex-direction: column;
  }

  .description__left-img {
    width: 71vw;
  }

  .prefer-slide-2 {
    display: none;
  }

  .customers__background-top {
    top: unset;
    bottom: -39px;
    left: -48px;
    width: 353px;
    height: 361px;
  }

  .customers__background-behind {
    top: unset;
    bottom: -67px;
    left: -67px;
    width: 546px;
    height: 409px;
  }

  .courses__slider {
    gap: 0;
  }

  .prefer-slide-3 {
    display: none;
  }

  .customers {
    height: 931px;
    overflow: hidden;
  }

  .customers__container {
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
  }

  .ready__container {
    padding-top: 27px;
    flex-direction: column;
    align-items: center;
  }

  .ready__article {
    max-width: 327px;
    padding-left: 0px;
  }

  .ready__article br {
    display: none;
  }

  .ready {
    margin-top: 0px;
    height: auto;
  }

  .ready__buttons {
    text-align: center;
  }

  .ready__links {
    width: 327px;
    padding: 56px 0px 51px 0px;
  }

  .events {
    flex-direction: column;
  }

  .footer__top {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .links-list {
    padding-left: 0;
    flex-direction: column;
  }

  .advantages__first-line,
  .advantages__second-line {
    flex-direction: column;
    text-align: center;
  }

  .advantages__text br {
    display: none;
  }

  .prefer-slide-4 {
    display: none;
  }

  .events__aside-title {
    font-size: 36px;
    line-height: 1.36;
    margin: auto;
    margin-top: 40px;
  }

  .events__aside {
    width: 350px;
    padding-left: 11px;
  }

  .description__article {
    margin: 40px 24px 0px 24px;
  }

  .description__article br {
    display: none;
  }

  .slide1-img {
    width: 260px;
    height: 364px;
  }

  .customers__img-block {
    height: 319px;
  }

  .customers__img-bg {
    width: 273px;
    height: 273px;
  }

  .customers__img {
    width: 273px;
    height: 273px;
    top: 46px;
    left: 54px;
  }

  .customers__feedback {
    padding-left: 0;
  }

  .customers__feedback-title {
    margin-top: 26px;
  }

  .brake-text-375 {
    display: block;
  }

  .blue-line::after {
    float: right;
    margin-top: 16px;
  }

  .prefer {
    padding-left: 24px;
    padding-right: 24px;
  }

  .blog {
    padding: 64px 24px 0px 24px;
  }

  .blog h2 {
    text-align: center;
  }

  .blog__slider {
    flex-direction: column;
  }

  .blog__slider-item {
    max-width: 327px;
    height: 288px;
  }

  .blog__slider-wrapper {
    flex-direction: column;
  }

  .blog__slider-scroll {
    flex-direction: row;
    height: 50px;
    overflow: hidden;
    width: 300px;
  }

  .blog__slider-scroll-wrap {
    flex-direction: row;
  }

  .blog__container {
    text-align: unset;
    max-width: 327px;
  }

  .blog__slider-item-img {
    position: absolute;
    top: 0;
    left: 68px;
    width: 259px;
    height: 160px;
    margin: 0;
  }

  .blog__slider-item-bg {
    width: 327px;
    height: 264px;
  }

  .blog__slider-title {
    top: 160px;
  }

  .blog__item_link {
    top: 230px;
  }

  .blog__item-side-text {
    top: 56px;
  }

  .form__input,
  .alert {
    width: 327px;
  }
}

@media(max-width:376px) {
  .top-section article {
    align-items: unset;
  }

  .top-section__links {
    padding-top: 13px;
  }

  .advantages__text {
    text-overflow: clip;
    height: 44px;
    overflow: hidden;
  }

  .advantages__first-line {
    gap: 0;
  }

  .advantages__second-line {
    margin-top: 22px;
    gap: 5px;
  }

  div .slick-list {
    max-width: 263px;
  }

  .slick-arrow.slick-next {
    right: -3px;
  }

  .slider__img-inner hr {
    left: 11px;
    width: 250px;
  }

  .slider__item-img {
    width: 260px;
    height: 364px;
  }

  .description {
    margin-top: 78px;
  }

  .bg-icons {
    display: none;
  }

  .bg-green-top {
    max-width: 356px;
  }

  .coding-girl-img {
    margin-top: 7px;
    width: 375px;
  }

  .description_bg {
    display: none;
  }

  .description__left {
    overflow: hidden;
    height: 520px;
    width: 358px;
  }

  .description__left-img {
    width: 730px;
    height: 520px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .description__play {
    top: 35%;
    left: 38%;
    width: 80px;
    height: 80px;
  }

  .events {
    margin-top: 90px;
  }

  .events__elem::after {
    margin-bottom: 21px;
    margin-top: 23px;
  }

  .events__elem-wrapper {
    gap: 8px;
  }

  .events__aside-values {
    margin-top: 48px;
  }

  .events__aside-img {
    margin-top: 25px;
  }

  .events__aside button {
    margin-top: 35px;
  }

  .events__aside {
    height: 612px;
  }

  .prefer {
    text-align: left;
    margin-top: 93px;
  }

  .prefer-br {
    display: block;
  }

  .prefer h2 {
    line-height: 1.33;
    margin-bottom: 5px;
  }

  .prefer p {
    text-align: center;
  }

  .prefer__slider {
    margin-top: 25px;
    margin-left: -14px;
  }

  .customers__feedback-title {
    line-height: 1.33;
  }

  .customers__feedback-icon {
    margin-top: 26px;
  }

  .customers__feedback {
    max-width: 328px;
  }

  .customers__feedback br {
    display: none;
  }

  .customers__feedback .brake-text-375 {
    display: block;
  }

  .customers__background-top {
    bottom: -8px;
  }

  .customers__background-behind {
    bottom: -35px;
  }

  .customers__img-block {
    width: unset;
  }

  .customers__container {
    align-items: unset;
  }

  .ready__buttons {
    text-align: unset;
  }

  .ready__links-item::after {
    width: 87vw;
  }

  .blog h2 {
    padding-left: 24px;
    padding-right: 24px;
    text-align: unset;
  }

  .footer__top {
    flex-direction: column;
    margin-top: 77px;
    padding: 0;
  }

  .footer__link-text:nth-last-child(1) {
    margin-bottom: 0px;
  }

  .footer__links {
    padding-top: 14px;
  }

  .footer__bottom hr {
    margin-top: 25px;
  }

  .links-title {
    margin-top: 19px;
  }

  .links-list {
    margin-top: 10px;
  }

  .links-list {
    gap: 18px;
  }

  .send-btn {
    width: 327px;
  }

  .footer__bottom-links {
    flex-direction: column;
    align-items: unset;
  }
}